*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: Roboto-Light; 
    src: url(Roboto/Roboto-Light.ttf); 
}

@font-face{
	font-family: Roboto-Medium; 
    src: url(Roboto/Roboto-Medium.ttf); 
}

.clearfix{
	clear: both;
}
.top{
	background: linear-gradient(to left, #4a4b91, #9163ae); 
	padding: 10px 20px;
	min-width: 1330px;
}

.logo{
	float: left;
	vertical-align: top;
}

.logo>img{
	height: 33px;
}

.logo>h1{
	color: #fff;
	display: inline-block;
	font-family: Roboto-Light;
	font-size: 18pt;
	font-weight: 100;
	margin: 3px 0 0 5px;
	vertical-align: top;
}

.user{
	float: right;
	position: relative;
	margin-right: 10px;
}
.top-add-user{
	background-image: url('images/add.png');
	width: 40px;
}

#open-user{
	background-image: url('images/top-array.png');	
	width: 15px;
}

.user .img{
	margin-top: 3px;
	float: left;
}

.user ul{
	font-family: Roboto-Light;
	font-size: 17px;
	border-radius: 3px;
	background-color: #f0eded;
	right: 0;
	top: 40px;
	position: absolute;
	z-index: 10;
}

.user>a{
	height: 37px;
	float: left;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
}

.user li{
	list-style: none;
	color: #7467a7;
	display: inline-block;
	padding: 0 15px;
	text-align: center;
	width: 150px;
}

.user li:first-child a{
	border: none;
}

.user li a {
	display: block;
	padding: 8px 0;
	border-top: 1px solid #7467a7;
}

.left-menu{
	background-color: #F0EDED;
	padding: 30px 20px;
	height: 100%;
	position: absolute;
	left: 0;
	width: 275px;
}

.close{
	height: 56px;
	overflow: hidden;
}

.open{
	height: auto;
}

.close>p{
	background: url("images/close.png") 100% 50% no-repeat;
}
.open>p{
	background: url("images/open.png") 100% 50% no-repeat;
}

.left-menu li{
	font-family: Roboto-Light;
	font-weight: 500;
	list-style: none;
}

.left-menu>ul>li{
	border-bottom: 1px solid #e4e1e1;
	font-size: 19px;
}

.left-menu>ul>li>p{
	padding: 17px 5px;
	vertical-align: middle;
}

.left-menu>ul>li>p>img{
	margin: 0 5px;
}

.left-menu>ul>li>ul{
	margin-left: 35px;
}

.left-menu>ul>li>ul>li{
	font-size: 16px;
	height: 16px;
	margin: 0 0 15px;
	padding: 0 5px;
	vertical-align: middle;
}

.left-menu>ul>li>ul>li:nth-child(4n){
	border-left: 2px solid #43a725;
}

.left-menu>ul>li>ul>li:nth-child(4n+1){
	border-left: 2px solid #21a8ee;
}

.left-menu>ul>li>ul>li:nth-child(4n+2){
	border-left: 2px solid #e964cb;
}

.left-menu>ul>li>ul>li:nth-child(4n+3){
	border-left: 2px solid #14c95d;
}

.content{
	position: relative;
	padding-left: 275px;
	min-width: 1330px;
}

.cart{
	display: inline-block;
	margin: 30px 0 0 30px;
	width: 170px;
	vertical-align: top;
}
.file-img{
	background-color: #F0EDED;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 3px;
	height: 170px;
	position: relative;
	width: 170px;
}

.file-type{
	border-radius: 3px;
	bottom: 0;
	color: #fff;
	font-family: Roboto-Medium;
	font-size: 14px;
	font-weight: 300;
	right: 0;
	height: 25px;
	padding: 4px 0;
	position: absolute;
	text-align: center;
	width: 40px;
}

.tiff{
	background-color: #ED4598;
}

.png{
	background-color: #2193F3;
}
.jpeg{
	background-color: #F33A21;
}

.caption{
	font-family: Roboto-Light;
	padding: 15px 10px 0;
	text-align: center;
}

.caption .file-name{
	color: #262626;
	font-size: 16px;
	font-weight: 1000;
}

.caption .file-weight{
	color: #b4b4b4;
	font-size: 13px;
}

.file-view{
	position: absolute;
	height: 100%;
	border-right: 1px solid #e4e1e1;
	padding: 30px;
	width: 320px;
}
.file-img{
	background: #f0eded url("images/cart7.png") no-repeat center;
}

.for-users{
	position: absolute;
	bottom: 0;
	border-top: 1px solid #e4e1e1;
	padding-bottom: 30px;
}
.about{
	font-family: Roboto-Light;
	color: #b4b4b4;
	font-size: 16px;
}

.file-view h2{
	font-family: Roboto-Medium;
	font-size: 28px;
	margin: 13px 0;
}

.content button{
	padding: 8px 25px;
	margin: 15px 0;
	background: #7ab535;
	border-radius: 3px;
	color: #fff;
	font-family: Roboto-Medium;
	font-size: 16px;
	border: none;
}

.for-users h3{
	font-family: Roboto-Medium;
	font-size: 18px;
	float: left;
	margin: 15px 0;
}

.for-users .add-user{
	font-family: Roboto-Light;
	font-size: 15px;
	color: #8980b2;
	float: right;
	margin-top: 15px;
	vertical-align: middle;
	line-height: 22px;
}
.for-users .add-user img{
	margin: 0 5px -1px;
}
 .img{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 3px;
	margin-right: 7px;
}

.files{
	margin-left: 320px;
	padding: 30px;
	min-width: 650px;
}

table{
	border-collapse: collapse;
	width: 100%;
}

td{
	border-bottom: 1px solid #e4e1e1;
	padding: 10px;
	font-family: Roboto-Light;
	font-size: 18px;
	color: #b4b4b4;
	min-width: 70px;
	text-align: right;
}
td:first-child{
	color:#000;
	width: 45%;
	text-align: left;
}

.content td button{
	margin: 0;
}

.content td .img{
	margin: 0;
}

.action{
	font-family: Roboto-Light;
	font-size: 18px;
	color: #8980b2;
	padding-bottom: 15px;
}
.add-file{
	float: right;
	height: 22px;
}
.action span{
	vertical-align: top;
}

.come-back{
	float: left;
}

.action img{
	margin-right: 7px;
}

.none{
	display: none;
}

.block{
	display: block;
}